<section class="sectio highlighted-section">   
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <a href="setup-activation/introduction.html" class="box-product ">
                <span class="icon col-sm-3">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                  </span>
                </span>
                <span class="info col-sm-9">
                    <h4>Product One</h4>
                    <p>Setup and Activation</p>
                </span>
            </a>
            
        </div>
        <div class="col-sm-4">
            <a href="general-environment/introduction.html" class="box-product ">
                <span class="icon col-sm-3">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                  </span>
                </span>
                <span class="info col-sm-9">
                    <h4>Product Two</h4>
                    <p>General Environment</p>
                </span>
            </a>
        </div>
		<div class="col-sm-4">
            <a href="easy-data-porter/introduction.html" class="box-product ">
                <span class="icon col-sm-3">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                  </span>
                </span>
                <span class="info col-sm-9">
                    <h4>Product Three</h4>
                    <p>Easy Data Porter</p>
                </span>
            </a>
            
        </div>
		<div class="col-sm-4">
            <a href="formula-language/introduction.html" class="box-product ">
                <span class="icon col-sm-3">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                  </span>
                </span>
                <span class="info col-sm-9">
                    <h4>Product Four</h4>
                    <p>Formula Language</p>
                </span>
            </a>
            
        </div>
        
    </div>

</div>

    
</section>